*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    width: 100%;
    height: 100%;
}
#main{
    width: 100%;
}
#page1{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: teal;
    color: #000;
}
#page2{
    height: 100%;
    width: 100%;
}
.container{
    height: 300vh;
    position: relative;
}
.slides{
    height: 100vh;
    width: 100%;
    display: flex;
    overflow: hidden;
    position: sticky;
    top: 0;
    left: 0;
}
.slide{
    height: 100vh;
    width: 100%;
    background-color: lightgreen;
    display: flex;
    align-items: center;
    justify-content: center;    
    flex-shrink: 0;
}
#page3{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: teal;
    color: #000;
}
h1{
    font-size: 20vh;
}
